.DS_Store
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
build/
**/ios/Pods/
**/ios/.symlinks/
**/ios/Podfile.lock
**/macos/Pods/
**/macos/Podfile.lock
**/android/.gradle/
**/android/.kotlin/
**/android/local.properties
pubspec.lock
pubspec_overrides.yaml
flutter_*.log
*.iml
hs_err_pid*.log
replay_pid*.log
